/**/
@-webkit-keyframes rotate {
  /* line 28, ../scss/_base.scss */
  0% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 31, ../scss/_base.scss */
  10% {
    -webkit-transform: rotate(0deg);
  }

  /* line 34, ../scss/_base.scss */
  20% {
    -webkit-transform: rotate(10deg);
  }

  /* line 37, ../scss/_base.scss */
  30% {
    -webkit-transform: rotate(0deg);
  }

  /* line 40, ../scss/_base.scss */
  40% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 43, ../scss/_base.scss */
  50% {
    -webkit-transform: rotate(0deg);
  }

  /* line 46, ../scss/_base.scss */
  60% {
    -webkit-transform: rotate(10deg);
  }

  /* line 49, ../scss/_base.scss */
  70% {
    -webkit-transform: rotate(0deg);
  }

  /* line 52, ../scss/_base.scss */
  80% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 55, ../scss/_base.scss */
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes rotate {
  /* line 60, ../scss/_base.scss */
  0% {
    -moz-transform: rotate(-10deg);
  }

  /* line 63, ../scss/_base.scss */
  10% {
    -moz-transform: rotate(0deg);
  }

  /* line 66, ../scss/_base.scss */
  20% {
    -moz-transform: rotate(10deg);
  }

  /* line 69, ../scss/_base.scss */
  30% {
    -moz-transform: rotate(0deg);
  }

  /* line 72, ../scss/_base.scss */
  40% {
    -moz-transform: rotate(-10deg);
  }

  /* line 75, ../scss/_base.scss */
  50% {
    -moz-transform: rotate(0deg);
  }

  /* line 78, ../scss/_base.scss */
  60% {
    -moz-transform: rotate(10deg);
  }

  /* line 81, ../scss/_base.scss */
  70% {
    -moz-transform: rotate(0deg);
  }

  /* line 84, ../scss/_base.scss */
  80% {
    -moz-transform: rotate(-10deg);
  }

  /* line 87, ../scss/_base.scss */
  100% {
    -moz-transform: rotate(0deg);
  }
}

@-o-keyframes rotate {
  /* line 92, ../scss/_base.scss */
  0% {
    -o-transform: rotate(-10deg);
  }

  /* line 95, ../scss/_base.scss */
  10% {
    -o-transform: rotate(0deg);
  }

  /* line 98, ../scss/_base.scss */
  20% {
    -o-transform: rotate(10deg);
  }

  /* line 101, ../scss/_base.scss */
  30% {
    -o-transform: rotate(0deg);
  }

  /* line 104, ../scss/_base.scss */
  40% {
    -o-transform: rotate(-10deg);
  }

  /* line 107, ../scss/_base.scss */
  50% {
    -o-transform: rotate(0deg);
  }

  /* line 110, ../scss/_base.scss */
  60% {
    -o-transform: rotate(10deg);
  }

  /* line 113, ../scss/_base.scss */
  70% {
    -o-transform: rotate(0deg);
  }

  /* line 116, ../scss/_base.scss */
  80% {
    -o-transform: rotate(-10deg);
  }

  /* line 119, ../scss/_base.scss */
  100% {
    -o-transform: rotate(0deg);
  }
}

/*resets*/
/* line 4, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../scss/common.scss */
body {
  background: #f4f4f4;
  color: #333;
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
}

/* line 15, ../scss/common.scss */
a img, fieldset {
  border: none;
}

/* line 18, ../scss/common.scss */
a {
  font-size: 15px;
  color: #0099cc;
  text-decoration: none;
}

/* line 23, ../scss/common.scss */
li {
  list-style: none;
}

/* line 26, ../scss/common.scss */
input, textarea, button {
  border: none;
  outline: none;
}

/* line 30, ../scss/common.scss */
.h2 {
  padding: 35px 0 15px 0;
  font-size: 20px;
  text-transform: uppercase;
}

/* line 35, ../scss/common.scss */
.h3 {
  padding-bottom: 15px;
  font-size: 16px;
}

/* line 39, ../scss/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

/* line 45, ../scss/common.scss */
.container {
  width: 1200px;
  margin: 0 auto;
}

/*top*/
/* line 50, ../scss/common.scss */
.header-out {
  position: relative;
  width: 100%;
  height: 140px;
  background: #fff;
  -webkit-box-shadow: #6d6d6d 0px 0px 15px 3px;
  -moz-box-shadow: #6d6d6d 0px 0px 15px 3px;
  box-shadow: #6d6d6d 0px 0px 15px 3px;
  z-index: 300;
}

/* line 58, ../scss/common.scss */
.header-out_fixed {
  position: fixed;
  top: -60px;
}

/* line 62, ../scss/common.scss */
.header-banner {
  height: 60px;
  background-color: #ebebeb;
}

/* line 66, ../scss/common.scss */
.header {
  position: relative;
  top: 0;
  width: 1200px;
  height: 60px;
  padding-top: 20px;
  background: #fff;
  overflow: hidden;
  z-index: 100;
}

/* line 76, ../scss/common.scss */
.logo {
  float: left;
  margin: -1px 15px 0 0;
  background: url('../img/icons-s6b7c889f43.png') 0 -139px no-repeat;
  width: 145px;
  height: 42px;
}
/* line 80, ../scss/common.scss */
.logo a {
  position: relative;
  display: block;
  width: 145px;
  height: 42px;
  text-indent: -20000px;
}
/* line 86, ../scss/common.scss */
.logo a:hover i {
  -moz-animatiom: rotate 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both;
  -webkit-animation: rotate 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both;
  -o-animation: rotate 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both;
  animation: rotate 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both;
}
/* line 90, ../scss/common.scss */
.logo i {
  position: absolute;
  top: 9px;
  left: 95px;
  background: url('../img/icons-s6b7c889f43.png') 0 -578px no-repeat;
  width: 25px;
  height: 32px;
}

/* line 97, ../scss/common.scss */
.logo-txt {
  float: left;
  width: 120px;
  height: 33px;
  margin-top: 10px;
  padding-left: 15px;
  border-left: 1px solid #d3d3d3;
  line-height: 1.3;
  font-size: 13px;
}

/* line 107, ../scss/common.scss */
.nav {
  float: right;
  width: 840px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #0099cc;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTljYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOGNiYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099cc), color-stop(100%, #008cba));
  background-image: -webkit-linear-gradient(#0099cc, #008cba);
  background-image: -moz-linear-gradient(#0099cc, #008cba);
  background-image: -o-linear-gradient(#0099cc, #008cba);
  background-image: linear-gradient(#0099cc, #008cba);
}
/* line 113, ../scss/common.scss */
.nav ul {
  overflow: hidden;
}
/* line 116, ../scss/common.scss */
.nav li {
  float: left;
  padding-left: 29px;
  height: 60px;
  line-height: 60px;
}
/* line 121, ../scss/common.scss */
.nav li a {
  border-bottom: 1px solid #32abd4;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 127, ../scss/common.scss */
.nav li a:hover {
  border-bottom: 1px solid #fff;
}
/* line 131, ../scss/common.scss */
.nav li .active, .nav li .active:hover {
  border: none;
  color: #FFD75E;
}
/* line 136, ../scss/common.scss */
.nav .nav__add {
  position: relative;
  width: 140px;
  padding-left: 45px;
}
/* line 140, ../scss/common.scss */
.nav .nav__add .btn {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  padding: 0;
  border: 1px solid #006c90;
  -webkit-box-shadow: #ffecab 0px 1px 1px inset, #006c90 0px 2px 5px;
  -moz-box-shadow: #ffecab 0px 1px 1px inset, #006c90 0px 2px 5px;
  box-shadow: #ffecab 0px 1px 1px inset, #006c90 0px 2px 5px;
  -moz-transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
/* line 149, ../scss/common.scss */
.nav .nav__add .btn i {
  left: 7px;
}
/* line 152, ../scss/common.scss */
.nav .nav__add .btn:hover {
  border: 1px solid #006c90;
  -webkit-box-shadow: #006c90 0px 2px 5px;
  -moz-box-shadow: #006c90 0px 2px 5px;
  box-shadow: #006c90 0px 2px 5px;
}
/* line 156, ../scss/common.scss */
.nav .nav__add .btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ff9e03;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWUwMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZDg1NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9e03), color-stop(100%, #ffd856));
  background-image: -webkit-linear-gradient(#ff9e03, #ffd856);
  background-image: -moz-linear-gradient(#ff9e03, #ffd856);
  background-image: -o-linear-gradient(#ff9e03, #ffd856);
  background-image: linear-gradient(#ff9e03, #ffd856);
}
/* line 162, ../scss/common.scss */
.nav .nav__add a {
  color: #ffd75e;
  border-bottom: 1px solid #88b88f;
}
/* line 165, ../scss/common.scss */
.nav .nav__add a:hover {
  border-bottom: 1px solid #ffd75f;
}
/* line 169, ../scss/common.scss */
.nav .nav__add em {
  position: absolute;
  top: 0;
  background: url('../img/icons-s6b7c889f43.png') 0 -922px no-repeat;
  width: 2px;
  height: 60px;
}
/* line 175, ../scss/common.scss */
.nav .nav__divider-l {
  left: 21px;
}
/* line 178, ../scss/common.scss */
.nav .nav__divider-r {
  right: 0;
}
/* line 181, ../scss/common.scss */
.nav .nav__user-log {
  position: relative;
  float: right;
  width: 170px;
  padding-left: 0px;
}
/* line 186, ../scss/common.scss */
.nav .nav__user-log a {
  font-size: 14px;
  text-transform: none;
}
/* line 190, ../scss/common.scss */
.nav .nav__user-log a:hover i.over {
  opacity: 1;
}
/* line 195, ../scss/common.scss */
.nav .nav__user-log i {
  position: absolute;
  top: 23px;
  left: -20px;
  background: url('../img/icons-s6b7c889f43.png') 0 -824px no-repeat;
  width: 14px;
  height: 16px;
}
/* line 201, ../scss/common.scss */
.nav .nav__user-log i.over {
  opacity: 0;
  background: url('../img/icons-s6b7c889f43.png') 0 -845px no-repeat;
  width: 14px;
  height: 16px;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 206, ../scss/common.scss */
.nav .nav__user-log em {
  position: absolute;
  top: 10px;
  right: 0;
  background: url('../img/icons-s6b7c889f43.png') 0 -246px no-repeat;
  width: 37px;
  height: 43px;
}
/* line 213, ../scss/common.scss */
.nav .nav__user-no-log {
  float: right;
  width: 193px;
  padding: 0px;
}
/* line 217, ../scss/common.scss */
.nav .nav__user-no-log .btn {
  width: 160px;
  padding-left: 15px;
  margin-top: 15px;
  border: 1px solid #006c90;
  background-color: #24aedc;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgzNiwgMTc0LCAyMjAsIDAuNikiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYmEoMSwgMTM2LCAxODIsIDAuOCkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(36, 174, 220, 0.6)), color-stop(100%, rgba(1, 136, 182, 0.8)));
  background-image: -webkit-linear-gradient(rgba(36, 174, 220, 0.6), rgba(1, 136, 182, 0.8));
  background-image: -moz-linear-gradient(rgba(36, 174, 220, 0.6), rgba(1, 136, 182, 0.8));
  background-image: -o-linear-gradient(rgba(36, 174, 220, 0.6), rgba(1, 136, 182, 0.8));
  background-image: linear-gradient(rgba(36, 174, 220, 0.6), rgba(1, 136, 182, 0.8));
  -webkit-box-shadow: #92d7ee 0px 1px 1px inset, #006c90 0px 2px 5px;
  -moz-box-shadow: #92d7ee 0px 1px 1px inset, #006c90 0px 2px 5px;
  box-shadow: #92d7ee 0px 1px 1px inset, #006c90 0px 2px 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  text-shadow: none;
  -moz-transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
/* line 230, ../scss/common.scss */
.nav .nav__user-no-log .btn:hover {
  background-color: #92d7ee;
}
/* line 233, ../scss/common.scss */
.nav .nav__user-no-log .btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #0188b6;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxODhiNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI0YWVkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0188b6), color-stop(100%, #24aedc));
  background-image: -webkit-linear-gradient(#0188b6, #24aedc);
  background-image: -moz-linear-gradient(#0188b6, #24aedc);
  background-image: -o-linear-gradient(#0188b6, #24aedc);
  background-image: linear-gradient(#0188b6, #24aedc);
}
/* line 239, ../scss/common.scss */
.nav .nav__user-no-log i {
  position: absolute;
  top: 7px;
}
/* line 243, ../scss/common.scss */
.nav .nav__user-no-log .nav__social_fb {
  left: 127px;
  background: url('../img/icons-s6b7c889f43.png') 0 -453px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 247, ../scss/common.scss */
.nav .nav__user-no-log .nav__social_vk {
  left: 147px;
  background: url('../img/icons-s6b7c889f43.png') 0 -432px no-repeat;
  width: 16px;
  height: 16px;
}

/*tape*/
/* line 257, ../scss/common.scss */
.tape {
  background: url(../img/tape-bg.jpg);
  color: #fff;
  overflow: hidden;
}
/* line 261, ../scss/common.scss */
.tape .container {
  position: relative;
  height: 40px;
  line-height: 40px;
}
/* line 266, ../scss/common.scss */
.tape .tape__container {
  position: relative;
  width: 1150px;
  height: 40px;
  margin-left: 50px;
  overflow: hidden;
}
/* line 272, ../scss/common.scss */
.tape .tape__container ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 20000px;
  z-index: 10;
}
/* line 279, ../scss/common.scss */
.tape .tape__container li {
  float: left;
  margin-right: 27px;
}
/* line 283, ../scss/common.scss */
.tape .tape__container span {
  color: #8c8c8c;
}
/* line 286, ../scss/common.scss */
.tape .tape__container a {
  border-bottom: 1px solid #5b5b5b;
  color: #fff;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 290, ../scss/common.scss */
.tape .tape__container a:hover {
  border-bottom: 1px solid #fff;
}
/* line 294, ../scss/common.scss */
.tape .tape__container b {
  margin: 0 5px;
}

/* line 299, ../scss/common.scss */
.tape__comm {
  position: relative;
  margin-left: 36px;
}
/* line 302, ../scss/common.scss */
.tape__comm i {
  position: absolute;
  top: 2px;
  left: -20px;
  background: url('../img/icons-s6b7c889f43.png') 0 -1106px no-repeat;
  width: 14px;
  height: 13px;
}

/* line 309, ../scss/common.scss */
.tape__fife {
  position: absolute;
  top: 7px;
  left: 2px;
  background: url('../img/icons-s6b7c889f43.png') 0 -615px no-repeat;
  width: 26px;
  height: 22px;
  z-index: 30;
}

/* line 316, ../scss/common.scss */
.tape__shadow {
  position: absolute;
  z-index: 20;
}

/* line 320, ../scss/common.scss */
.tape__shadow-l {
  top: 3px;
  left: 25px;
  background: url('../img/icons-s6b7c889f43.png') 0 -294px no-repeat;
  width: 75px;
  height: 26px;
}

/* line 325, ../scss/common.scss */
.tape__shadow-r {
  top: 6px;
  right: -2px;
  background: url('../img/icons-s6b7c889f43.png') 0 -186px no-repeat;
  width: 75px;
  height: 26px;
}

/*footer*/
/* line 331, ../scss/common.scss */
.footer {
  position: relative;
  margin-top: -35px;
  height: 250px;
  padding-top: 70px;
  background: #e0e0e0;
  z-index: 10;
}

/* line 339, ../scss/common.scss */
.footer__info {
  position: relative;
  float: left;
  padding-left: 60px;
}
/* line 343, ../scss/common.scss */
.footer__info form {
  position: relative;
  width: 228px;
  height: 26px;
  margin-top: 15px;
}

/* line 350, ../scss/common.scss */
.footer__nav {
  overflow: hidden;
}
/* line 352, ../scss/common.scss */
.footer__nav ul {
  overflow: hidden;
}
/* line 355, ../scss/common.scss */
.footer__nav li {
  float: left;
  padding-bottom: 10px;
}
/* line 358, ../scss/common.scss */
.footer__nav li a {
  border-bottom: 1px solid #a4cddb;
  font-size: 14px;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 362, ../scss/common.scss */
.footer__nav li a:hover {
  border-bottom: 1px solid #09c;
}
/* line 366, ../scss/common.scss */
.footer__nav li span {
  margin: 0 5px;
  color: #acacac;
  font-weight: bold;
}

/* line 373, ../scss/common.scss */
.footer__logo {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/icons-s6b7c889f43.png') 0 -474px no-repeat;
  width: 30px;
  height: 39px;
}

/* line 379, ../scss/common.scss */
.copyright {
  position: relative;
  margin-bottom: 15px;
}
/* line 382, ../scss/common.scss */
.copyright span {
  position: absolute;
  top: 0;
  left: -12px;
}

/* line 388, ../scss/common.scss */
.footer__nav_b {
  font-weight: bold;
}

/* line 391, ../scss/common.scss */
.footer__search-txt {
  width: 188px;
  height: 26px;
  padding: 0 30px 0 10px;
  line-height: 26px;
  -webkit-box-shadow: #a6a6a6 1px 1px 1px inset;
  -moz-box-shadow: #a6a6a6 1px 1px 1px inset;
  box-shadow: #a6a6a6 1px 1px 1px inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #f4f4f4;
}

/* line 400, ../scss/common.scss */
.footer__search-btn {
  position: absolute;
  top: 6px;
  right: 7px;
  background: url('../img/icons-s6b7c889f43.png') 0 -733px no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* line 407, ../scss/common.scss */
.facebook {
  float: right;
  background: #fff;
}

/* line 411, ../scss/common.scss */
.vkontakte {
  float: right;
  margin-right: 35px;
}

/* line 415, ../scss/common.scss */
.social {
  overflow: hidden;
  margin-top: 23px;
}
/* line 418, ../scss/common.scss */
.social li {
  float: left;
  margin-right: 7px;
}
/* line 421, ../scss/common.scss */
.social li a {
  display: block;
  width: 24px;
  height: 24px;
}

/* line 428, ../scss/common.scss */
.social__fb {
  background: url('../img/icons-s6b7c889f43.png') 0 -383px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 429, ../scss/common.scss */
.social__vk {
  background: url('../img/icons-s6b7c889f43.png') 0 -325px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 430, ../scss/common.scss */
.social__rss {
  background: url('../img/icons-s6b7c889f43.png') 0 -217px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 431, ../scss/common.scss */
.social__tw {
  background: url('../img/icons-s6b7c889f43.png') 0 -354px no-repeat;
  width: 24px;
  height: 24px;
}

/*block*/
/* line 433, ../scss/common.scss */
.block {
  margin-bottom: 20px;
}

/* line 436, ../scss/common.scss */
.block_title {
  font-weight: bold;
  border-bottom: 1px solid #bbe4f1;
  line-height: 1.5;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 441, ../scss/common.scss */
.block_title:hover {
  border-bottom: 1px solid #0099cc;
}

/* line 445, ../scss/common.scss */
.block__desc {
  margin: 15px 0 5px 0;
  line-height: 1.5;
  overflow: hidden;
}
/* line 449, ../scss/common.scss */
.block__desc img {
  float: left;
  margin-right: 15px;
  border: 1px solid #939393;
}
/* line 454, ../scss/common.scss */
.block__desc span {
  color: #acacac;
}
/* line 456, ../scss/common.scss */
.block__desc span a {
  border-bottom: 1px solid #bbe4f1;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 459, ../scss/common.scss */
.block__desc span a:hover {
  border-bottom: 1px solid #09c;
}

/* line 465, ../scss/common.scss */
.comm {
  position: relative;
  margin-left: 25px;
  border-bottom: 1px solid #bbe4f1;
  font-size: 14px;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 471, ../scss/common.scss */
.comm i {
  position: absolute;
  top: 2px;
  left: -25px;
  background: url('../img/icons-s6b7c889f43.png') 0 -412px no-repeat;
  width: 19px;
  height: 15px;
}
/* line 477, ../scss/common.scss */
.comm:hover {
  border-bottom: 1px solid #09c;
}

/* line 481, ../scss/common.scss */
.comm_answer {
  margin-left: 40px;
}
/* line 483, ../scss/common.scss */
.comm_answer i {
  background: url('../img/icons-s6b7c889f43.png') 0 -691px no-repeat;
  width: 16px;
  height: 16px;
}

/*block-img*/
/* line 488, ../scss/common.scss */
.block-img {
  position: relative;
}
/* line 490, ../scss/common.scss */
.block-img a {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 455px;
  height: 60px;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.82);
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

/*tabs*/
/* line 506, ../scss/common.scss */
.tabs {
  position: relative;
}

/* line 509, ../scss/common.scss */
.tabs__shadow {
  position: absolute;
  height: 220px;
  width: 10px;
  top: 0;
  left: 0;
  -webkit-border-radius: 0 0 0 10px/100px;
  -moz-border-radius: 0 0 0 10px/100px;
  -ms-border-radius: 0 0 0 10px/100px;
  -o-border-radius: 0 0 0 10px/100px;
  border-radius: 0 0 0 10px/100px;
  -webkit-box-shadow: #e0e0e0 0px 0px 50px;
  -moz-box-shadow: #e0e0e0 0px 0px 50px;
  box-shadow: #e0e0e0 0px 0px 50px;
  z-index: 5;
}

/* line 519, ../scss/common.scss */
.tabs__link {
  position: relative;
  overflow: hidden;
  z-index: 10;
}
/* line 523, ../scss/common.scss */
.tabs__link li {
  float: left;
  border-right: 1px solid #fff;
}
/* line 526, ../scss/common.scss */
.tabs__link li:last-child {
  border: none;
}
/* line 530, ../scss/common.scss */
.tabs__link a {
  position: relative;
  display: block;
  width: 95px;
  height: 95px;
  cursor: pointer;
  background: #e0e0e0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(60%, #f9f9f9), color-stop(100%, #e0e0e0));
  background-image: -webkit-linear-gradient(#f9f9f9 60%, #e0e0e0);
  background-image: -moz-linear-gradient(#f9f9f9 60%, #e0e0e0);
  background-image: -o-linear-gradient(#f9f9f9 60%, #e0e0e0);
  background-image: linear-gradient(#f9f9f9 60%, #e0e0e0);
}
/* line 539, ../scss/common.scss */
.tabs__link .active {
  background: #fff;
}
/* line 542, ../scss/common.scss */
.tabs__link img {
  position: absolute;
  top: 17px;
  left: 17px;
}

/* line 548, ../scss/common.scss */
.tabs__content {
  position: relative;
  padding: 30px 35px;
  background: #fff;
  z-index: 10;
}
/* line 553, ../scss/common.scss */
.tabs__content a {
  line-height: 1.3;
  font-weight: bold;
  border-bottom: 1px solid #bbe4f1;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 558, ../scss/common.scss */
.tabs__content a:hover {
  border-bottom: 1px solid #09c;
}
/* line 562, ../scss/common.scss */
.tabs__content .btn {
  -moz-transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
/* line 564, ../scss/common.scss */
.tabs__content .btn:hover {
  border: 1px solid #ae6c00;
}
/* line 568, ../scss/common.scss */
.tabs__content p {
  margin-top: 10px;
  line-height: 1.5;
}

/*general*/
/* line 574, ../scss/common.scss */
.btn {
  position: relative;
  display: block;
  width: 130px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ae6c00;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  -moz-box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  background-color: #ff9e03;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDIxNiwgODYsIDAuNikiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYmEoMjU1LCAxNTgsIDMsIDAuOCkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 216, 86, 0.6)), color-stop(100%, rgba(255, 158, 3, 0.8)));
  background-image: -webkit-linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  background-image: -moz-linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  background-image: -o-linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  background-image: linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  color: #885400;
  font-size: 13px;
  text-shadow: 0 1px 1px #ffd856;
  font-weight: bold;
  -moz-transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
/* line 590, ../scss/common.scss */
.btn i {
  position: absolute;
  top: 7px;
  left: 9px;
  background: url('../img/icons-s6b7c889f43.png') 0 -712px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 596, ../scss/common.scss */
.btn:hover {
  background-color: #ffecab;
  -webkit-box-shadow: #d0d0d0 0px 1px 5px;
  -moz-box-shadow: #d0d0d0 0px 1px 5px;
  box-shadow: #d0d0d0 0px 1px 5px;
}
/* line 600, ../scss/common.scss */
.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ff9e03;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWUwMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZDg1NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9e03), color-stop(100%, #ffd856));
  background-image: -webkit-linear-gradient(#ff9e03, #ffd856);
  background-image: -moz-linear-gradient(#ff9e03, #ffd856);
  background-image: -o-linear-gradient(#ff9e03, #ffd856);
  background-image: linear-gradient(#ff9e03, #ffd856);
  line-height: 32px;
}
/* line 605, ../scss/common.scss */
.btn:active i {
  top: 8px;
}

/* line 610, ../scss/common.scss */
.likes {
  float: left;
  padding: 10px 0 10px 15px;
  border: 1px solid #d3d3d3;
}
/* line 614, ../scss/common.scss */
.likes .fb-like {
  float: left;
  margin-right: 15px;
}
/* line 618, ../scss/common.scss */
.likes iframe {
  float: left;
  margin-right: 5px;
}
/* line 622, ../scss/common.scss */
.likes #vk_like {
  float: left;
  clear: none !important;
}

/*popup*/
/* line 628, ../scss/common.scss */
.popup-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 400;
}

/* line 638, ../scss/common.scss */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px;
  background: #fff;
  z-index: 500;
}

/* line 646, ../scss/common.scss */
.popup-close {
  position: absolute;
  top: 30px;
  right: 30px;
  background: url('../img/icons-s6b7c889f43.png') 0 -537px no-repeat;
  width: 17px;
  height: 17px;
}

/* line 652, ../scss/common.scss */
.txt-field {
  width: 220px;
  height: 25px;
  line-height: 25px;
  padding-left: 8px;
  margin-bottom: 18px;
  border-top: 1px solid #a6a6a6;
  border-left: 1px solid #a6a6a6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #f4f4f4;
  font-size: 13px;
}

/* line 664, ../scss/common.scss */
.txt-field_1 {
  width: 40px;
  margin-right: 5px;
}

/* line 668, ../scss/common.scss */
.txt-field_2 {
  width: 90px;
}

/* line 671, ../scss/common.scss */
.popup__title {
  margin-bottom: 20px;
  font-weight: bold;
}

/*popup_enter*/
/* line 676, ../scss/common.scss */
.enter {
  display: none;
  width: 570px;
  padding: 30px 30px 30px 80px;
  margin: -170px 0 0 -325px;
}
/* line 681, ../scss/common.scss */
.enter form {
  float: left;
  width: 230px;
}

/* line 686, ../scss/common.scss */
.enter__title {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
}

/* line 691, ../scss/common.scss */
.enter__btn {
  overflow: hidden;
}
/* line 693, ../scss/common.scss */
.enter__btn .enter__check {
  float: left;
  margin: 7px 7px 0 0;
}
/* line 697, ../scss/common.scss */
.enter__btn span {
  float: left;
  margin-top: 7px;
}
/* line 701, ../scss/common.scss */
.enter__btn .btn {
  float: left;
  margin-right: 18px;
  width: 64px;
}

/* line 707, ../scss/common.scss */
.enter__links {
  width: 150px;
  margin-top: 15px;
}
/* line 710, ../scss/common.scss */
.enter__links a {
  border-bottom: 1px solid #BBE4F1;
  line-height: 1.5;
  font-size: 14px;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 715, ../scss/common.scss */
.enter__links a:hover {
  border-bottom: 1px solid #09c;
}

/* line 720, ../scss/common.scss */
.enter__social {
  float: left;
  width: 255px;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 724, ../scss/common.scss */
.enter__social a {
  display: block;
  width: 203px;
  height: 26px;
  margin-bottom: 18px;
  line-height: 26px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 731, ../scss/common.scss */
.enter__social a b {
  position: relative;
  float: left;
  width: 24px;
  height: 26px;
}
/* line 737, ../scss/common.scss */
.enter__social a span {
  float: left;
  padding-left: 10px;
  font-size: 13px;
  color: #fff;
}
/* line 743, ../scss/common.scss */
.enter__social a i {
  position: absolute;
  top: 6px;
  left: 9px;
}
/* line 749, ../scss/common.scss */
.enter__social .enter__social-fb {
  background: #5d78ae;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkNzhhZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM5NTA3YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d78ae), color-stop(100%, #39507a));
  background-image: -webkit-linear-gradient(#5d78ae, #39507a);
  background-image: -moz-linear-gradient(#5d78ae, #39507a);
  background-image: -o-linear-gradient(#5d78ae, #39507a);
  background-image: linear-gradient(#5d78ae, #39507a);
  -webkit-box-shadow: #3d537f 0px 1px 2px inset;
  -moz-box-shadow: #3d537f 0px 1px 2px inset;
  box-shadow: #3d537f 0px 1px 2px inset;
}
/* line 753, ../scss/common.scss */
.enter__social .enter__social-fb b {
  border-right: 1px solid #49608c;
}
/* line 756, ../scss/common.scss */
.enter__social .enter__social-fb span {
  border-left: 1px solid #59709d;
}
/* line 759, ../scss/common.scss */
.enter__social .enter__social-fb i {
  background: url('../img/icons-s6b7c889f43.png') 0 -1043px no-repeat;
  width: 11px;
  height: 15px;
}
/* line 762, ../scss/common.scss */
.enter__social .enter__social-fb:hover {
  -webkit-box-shadow: #2c3e5f 0px 1px 2px inset;
  -moz-box-shadow: #2c3e5f 0px 1px 2px inset;
  box-shadow: #2c3e5f 0px 1px 2px inset;
  background: #384f79;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4NGY3OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVjNzdhZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #384f79), color-stop(100%, #5c77ad));
  background-image: -webkit-linear-gradient(#384f79, #5c77ad);
  background-image: -moz-linear-gradient(#384f79, #5c77ad);
  background-image: -o-linear-gradient(#384f79, #5c77ad);
  background-image: linear-gradient(#384f79, #5c77ad);
}
/* line 767, ../scss/common.scss */
.enter__social .enter__social-fb:active {
  background: #3a517b;
  -webkit-box-shadow: #182133 0px 0px 5px inset;
  -moz-box-shadow: #182133 0px 0px 5px inset;
  box-shadow: #182133 0px 0px 5px inset;
}
/* line 772, ../scss/common.scss */
.enter__social .enter__social-vk {
  background: #6186ad;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxODZhZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNmNjY5MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6186ad), color-stop(100%, #3f6690));
  background-image: -webkit-linear-gradient(#6186ad, #3f6690);
  background-image: -moz-linear-gradient(#6186ad, #3f6690);
  background-image: -o-linear-gradient(#6186ad, #3f6690);
  background-image: linear-gradient(#6186ad, #3f6690);
  -webkit-box-shadow: #3c5775 0px 1px 2px inset;
  -moz-box-shadow: #3c5775 0px 1px 2px inset;
  box-shadow: #3c5775 0px 1px 2px inset;
}
/* line 776, ../scss/common.scss */
.enter__social .enter__social-vk b {
  border-right: 1px solid #456587;
}
/* line 779, ../scss/common.scss */
.enter__social .enter__social-vk span {
  border-left: 1px solid #5f82a8;
}
/* line 782, ../scss/common.scss */
.enter__social .enter__social-vk i {
  top: 4px;
  left: 8px;
  background: url('../img/icons-s6b7c889f43.png') 0 -670px no-repeat;
  width: 12px;
  height: 16px;
}
/* line 787, ../scss/common.scss */
.enter__social .enter__social-vk:hover {
  -webkit-box-shadow: #314f70 0px 1px 2px inset;
  -moz-box-shadow: #314f70 0px 1px 2px inset;
  box-shadow: #314f70 0px 1px 2px inset;
  background: #3e658f;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNlNjU4ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYwODVhYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e658f), color-stop(100%, #6085ac));
  background-image: -webkit-linear-gradient(#3e658f, #6085ac);
  background-image: -moz-linear-gradient(#3e658f, #6085ac);
  background-image: -o-linear-gradient(#3e658f, #6085ac);
  background-image: linear-gradient(#3e658f, #6085ac);
}
/* line 792, ../scss/common.scss */
.enter__social .enter__social-vk:active {
  background: #3a5e85;
  -webkit-box-shadow: #253451 0px 0px 5px inset;
  -moz-box-shadow: #253451 0px 0px 5px inset;
  box-shadow: #253451 0px 0px 5px inset;
}

/*popup_complaint*/
/* line 799, ../scss/common.scss */
.complaint {
  display: none;
  width: 670px;
  height: 380px;
  margin: -190px 0 0 -335px;
}
/* line 805, ../scss/common.scss */
.complaint form .btn {
  width: 95px;
}

/* line 810, ../scss/common.scss */
.complaint__client {
  overflow: hidden;
}
/* line 812, ../scss/common.scss */
.complaint__client li {
  float: left;
  width: 165px;
  margin: 0 0 20px 0;
}
/* line 816, ../scss/common.scss */
.complaint__client li input {
  float: left;
  margin: 10px 10px 0 0;
}
/* line 820, ../scss/common.scss */
.complaint__client li img {
  float: left;
  margin-right: 10px;
}
/* line 824, ../scss/common.scss */
.complaint__client li span {
  line-height: 32px;
}

/* line 829, ../scss/common.scss */
.complaint__info {
  margin: 0 0 10px 0;
  overflow: hidden;
}
/* line 832, ../scss/common.scss */
.complaint__info span {
  display: block;
  margin-bottom: 15px;
}

/* line 837, ../scss/common.scss */
.complaint__mobile {
  float: left;
  margin-right: 40px;
}
/* line 840, ../scss/common.scss */
.complaint__mobile span {
  display: block;
  margin-bottom: 15px;
}
/* line 844, ../scss/common.scss */
.complaint__mobile input {
  width: 250px;
}

/* line 848, ../scss/common.scss */
.complaint__phone {
  float: left;
  margin-right: 40px;
}
/* line 851, ../scss/common.scss */
.complaint__phone b {
  float: left;
  margin-right: 5px;
  line-height: 27px;
  font-weight: normal;
}
/* line 857, ../scss/common.scss */
.complaint__phone input {
  float: left;
}

/* line 862, ../scss/common.scss */
.complaint__comm span {
  display: block;
  margin-bottom: 15px;
}
/* line 866, ../scss/common.scss */
.complaint__comm .txt-field {
  width: 650px;
  height: 65px;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
}

/*popup_profile*/
/* line 874, ../scss/common.scss */
.profile {
  display: none;
  width: 230px;
  padding: 30px 30px 30px 50px;
  margin: -200px 0 0 -155px;
}

/* line 880, ../scss/common.scss */
.pic-load-out {
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}

/* line 885, ../scss/common.scss */
.pic-load {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 25px;
}
/* line 891, ../scss/common.scss */
.pic-load img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
/* line 898, ../scss/common.scss */
.pic-load:hover .pic-load-title {
  display: block;
}
/* line 902, ../scss/common.scss */
.pic-load input {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 100px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 20;
}

/* line 915, ../scss/common.scss */
.pic-load-change {
  position: absolute;
  top: 0;
  left: 0;
  width: 94px;
  height: 94px;
  border: 3px dashed #a6a6a6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  z-index: 5;
}
/* line 924, ../scss/common.scss */
.pic-load-change span {
  display: block;
  margin-top: 20px;
  text-align: center;
}
/* line 929, ../scss/common.scss */
.pic-load-change i {
  position: absolute;
  top: 50px;
  left: 37px;
  background: url('../img/icons-s6b7c889f43.png') 0 -37px no-repeat;
  width: 22px;
  height: 23px;
}

/* line 936, ../scss/common.scss */
.pic-load-title {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 20px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  color: #fff;
  text-align: center;
  z-index: 15;
}

/* line 950, ../scss/common.scss */
.pic-load-info {
  display: none;
  font-size: 12px;
}
/* line 953, ../scss/common.scss */
.pic-load-info span {
  display: block;
  margin-top: 15px;
}

/* line 958, ../scss/common.scss */
.profile__param {
  margin-left: -10px;
  width: 220px;
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  font-size: 13px;
}
/* line 967, ../scss/common.scss */
.profile__param:hover {
  border-top: 1px solid #A6A6A6;
  border-left: 1px solid #A6A6A6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #F4F4F4;
}

/* line 974, ../scss/common.scss */
.profile__city, .registration__city {
  position: relative;
  width: 218px;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  padding-left: 10px;
  margin-left: -10px;
  z-index: 10;
  border: 1px solid #fff;
}
/* line 984, ../scss/common.scss */
.profile__city.active, .registration__city.active {
  border: 1px solid #a6a6a6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #f5f5f5;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #d8d8d8));
  background-image: -webkit-linear-gradient(#f5f5f5, #d8d8d8);
  background-image: -moz-linear-gradient(#f5f5f5, #d8d8d8);
  background-image: -o-linear-gradient(#f5f5f5, #d8d8d8);
  background-image: linear-gradient(#f5f5f5, #d8d8d8);
}
/* line 989, ../scss/common.scss */
.profile__city.active i, .registration__city.active i {
  display: block;
}
/* line 993, ../scss/common.scss */
.profile__city select, .registration__city select {
  position: absolute;
  top: 0;
  left: 0;
  width: 228px;
  height: 24px;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 1002, ../scss/common.scss */
.profile__city i, .registration__city i {
  display: none;
  position: absolute;
  top: 10px;
  right: 12px;
  background: url('../img/icons-s6b7c889f43.png') 0 -1160px no-repeat;
  width: 10px;
  height: 5px;
}

/* line 1010, ../scss/common.scss */
.profile__pass {
  position: relative;
  z-index: 5;
}
/* line 1013, ../scss/common.scss */
.profile__pass a {
  position: relative;
  font-size: 13px;
  border-bottom: 1px dashed #BBE4F1;
  line-height: 25px;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 1019, ../scss/common.scss */
.profile__pass a:hover {
  border-bottom: 1px dashed #09c;
}
/* line 1022, ../scss/common.scss */
.profile__pass a i {
  position: absolute;
  top: 4px;
  right: -15px;
  background: url('../img/icons-s6b7c889f43.png') 0 -1063px no-repeat;
  width: 8px;
  height: 10px;
}
/* line 1029, ../scss/common.scss */
.profile__pass .field-eye {
  width: 230px;
  margin-left: -10px;
}
/* line 1033, ../scss/common.scss */
.profile__pass span {
  display: block;
  height: 26px;
  line-height: 26px;
  font-size: 13px;
}

/* line 1040, ../scss/common.scss */
.profile__pass-change {
  display: none;
}

/* line 1043, ../scss/common.scss */
.profile__btn {
  padding: 20px 0 3px 0;
  overflow: hidden;
}
/* line 1046, ../scss/common.scss */
.profile__btn .btn {
  float: left;
  cursor: pointer;
}
/* line 1050, ../scss/common.scss */
.profile__btn .btn-orange {
  display: none;
  width: 95px;
  margin-right: 50px;
  line-height: 1;
}
/* line 1055, ../scss/common.scss */
.profile__btn .btn-orange:active {
  line-height: 31px;
}
/* line 1059, ../scss/common.scss */
.profile__btn .btn-blue {
  width: 75px;
  border: 1px solid #006c90;
  background-color: #24aedc;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgzNiwgMTc0LCAyMjAsIDAuNikiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYmEoMSwgMTM2LCAxODIsIDAuOCkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(36, 174, 220, 0.6)), color-stop(100%, rgba(1, 136, 182, 0.8)));
  background-image: -webkit-linear-gradient(rgba(36, 174, 220, 0.6), rgba(1, 136, 182, 0.8));
  background-image: -moz-linear-gradient(rgba(36, 174, 220, 0.6), rgba(1, 136, 182, 0.8));
  background-image: -o-linear-gradient(rgba(36, 174, 220, 0.6), rgba(1, 136, 182, 0.8));
  background-image: linear-gradient(rgba(36, 174, 220, 0.6), rgba(1, 136, 182, 0.8));
  -webkit-box-shadow: #92d7ee 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  -moz-box-shadow: #92d7ee 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  box-shadow: #92d7ee 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  text-shadow: none;
  color: #fff;
  -moz-transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
/* line 1071, ../scss/common.scss */
.profile__btn .btn-blue:hover {
  background-color: #92d7ee;
}
/* line 1074, ../scss/common.scss */
.profile__btn .btn-blue:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #0188b6;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxODhiNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI0YWVkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0188b6), color-stop(100%, #24aedc));
  background-image: -webkit-linear-gradient(#0188b6, #24aedc);
  background-image: -moz-linear-gradient(#0188b6, #24aedc);
  background-image: -o-linear-gradient(#0188b6, #24aedc);
  background-image: linear-gradient(#0188b6, #24aedc);
}

/*field-eye*/
/* line 1082, ../scss/common.scss */
.field-eye {
  position: relative;
  width: 230px;
  height: 25px;
}
/* line 1086, ../scss/common.scss */
.field-eye i {
  position: absolute;
  top: 6px;
  right: 8px;
  background: url('../img/icons-s6b7c889f43.png') 0 -518px no-repeat;
  width: 23px;
  height: 14px;
  cursor: pointer;
}
/* line 1093, ../scss/common.scss */
.field-eye input {
  margin-bottom: 0px;
}

/* line 1098, ../scss/common.scss */
.field-eye_open i {
  background: url('../img/icons-s6b7c889f43.png') 0 -559px no-repeat;
  width: 23px;
  height: 14px;
}

/*registration*/
/* line 1103, ../scss/common.scss */
.registration {
  width: 250px;
  margin: -300px 0 0 -125px;
}
/* line 1106, ../scss/common.scss */
.registration .txt-field {
  width: 240px;
  margin-bottom: 0px;
}
/* line 1110, ../scss/common.scss */
.registration label {
  display: block;
  margin: 20px 0 15px 0;
  font-size: 13px;
}
/* line 1114, ../scss/common.scss */
.registration label span {
  margin-left: 5px;
  color: #c10000;
}
/* line 1119, ../scss/common.scss */
.registration .field-eye {
  width: 250px;
}
/* line 1122, ../scss/common.scss */
.registration .pic-load-out {
  margin-top: 20px;
}

/* line 1126, ../scss/common.scss */
.registration__city {
  width: 237px;
  margin: 25px 0 20px 0;
  border: 1px solid #a6a6a6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #f5f5f5;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #d8d8d8));
  background-image: -webkit-linear-gradient(#f5f5f5, #d8d8d8);
  background-image: -moz-linear-gradient(#f5f5f5, #d8d8d8);
  background-image: -o-linear-gradient(#f5f5f5, #d8d8d8);
  background-image: linear-gradient(#f5f5f5, #d8d8d8);
}
/* line 1133, ../scss/common.scss */
.registration__city i {
  display: block;
}
/* line 1136, ../scss/common.scss */
.registration__city select {
  width: 250px;
}

/*user*/
/* line 1141, ../scss/common.scss */
.user {
  position: relative;
  margin-left: 20px;
}
/* line 1144, ../scss/common.scss */
.user i {
  position: absolute;
  top: 1px;
  left: -20px;
  background: url('../img/icons-s6b7c889f43.png') 0 -782px no-repeat;
  width: 14px;
  height: 16px;
}

/*div for input, label, button*/
/* line 1153, ../scss/common.scss */
.form-field .form-field__txt {
  display: block;
  width: 302px;
  height: 26px;
  line-height: 26px;
  padding-left: 8px;
  margin: 0 20px 20px 0;
  border-top: 1px solid #A6A6A6;
  border-left: 1px solid #A6A6A6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-radius: 3px;
  background: #F4F4F4;
  font-size: 13px;
}
/* line 1167, ../scss/common.scss */
.form-field textarea {
  width: 290px;
  height: 50px;
  line-height: 1.3;
  padding: 5px 10px;
  margin: 0 20px 20px 0;
  border-top: 1px solid #A6A6A6;
  border-left: 1px solid #A6A6A6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-radius: 3px;
  background: #F4F4F4;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 13px;
}
/* line 1181, ../scss/common.scss */
.form-field .form-field__btn {
  position: relative;
  display: block;
  height: 30px;
  padding: 0 10px;
  margin: 0 20px 20px 0;
  line-height: 1;
  border: 1px solid #ae6c00;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  -moz-box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  background-color: #ff9e03;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDIxNiwgODYsIDAuNikiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYmEoMjU1LCAxNTgsIDMsIDAuOCkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 216, 86, 0.6)), color-stop(100%, rgba(255, 158, 3, 0.8)));
  background-image: -webkit-linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  background-image: -moz-linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  background-image: -o-linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  background-image: linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  color: #885400;
  font-size: 13px;
  text-shadow: 0 1px 1px #ffd856;
  font-weight: bold;
  -moz-transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}
/* line 1199, ../scss/common.scss */
.form-field .form-field__btn:hover {
  background-color: #ffecab;
  -webkit-box-shadow: #d0d0d0 0px 1px 5px;
  -moz-box-shadow: #d0d0d0 0px 1px 5px;
  box-shadow: #d0d0d0 0px 1px 5px;
}
/* line 1203, ../scss/common.scss */
.form-field .form-field__btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ff9e03;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWUwMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZDg1NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9e03), color-stop(100%, #ffd856));
  background-image: -webkit-linear-gradient(#ff9e03, #ffd856);
  background-image: -moz-linear-gradient(#ff9e03, #ffd856);
  background-image: -o-linear-gradient(#ff9e03, #ffd856);
  background-image: linear-gradient(#ff9e03, #ffd856);
  line-height: 30px;
}
/* line 1210, ../scss/common.scss */
.form-field .form-field__check, .form-field .form-field__radio {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
}
/* line 1214, ../scss/common.scss */
.form-field .form-field__check input, .form-field .form-field__radio input {
  position: absolute;
  top: 0;
  left: 0;
}

/*calendar*/
/* line 1223, ../scss/common.scss */
.calendar .ui-datepicker-prev, .calendar .ui-datepicker-next {
  display: none;
}
/* line 1226, ../scss/common.scss */
.calendar .ui-datepicker-month {
  width: 105px;
  height: 23px;
  margin-right: 10px;
  outline: none;
}
/* line 1232, ../scss/common.scss */
.calendar .ui-datepicker-year {
  width: 88px;
  height: 23px;
  outline: none;
}

/* line 1238, ../scss/common.scss */
.ui-datepicker-calendar {
  font-size: 14px;
}
/* line 1240, ../scss/common.scss */
.ui-datepicker-calendar td, .ui-datepicker-calendar th {
  width: 37px;
  height: 37px;
}
/* line 1244, ../scss/common.scss */
.ui-datepicker-calendar td {
  text-align: center;
  background: #cfedff;
}
/* line 1247, ../scss/common.scss */
.ui-datepicker-calendar td a {
  background: #cfedff;
  color: #0099cc;
}
/* line 1252, ../scss/common.scss */
.ui-datepicker-calendar th span {
  display: block;
  color: #b2b2b2;
  font-weight: normal;
  text-align: left;
}
/* line 1258, ../scss/common.scss */
.ui-datepicker-calendar .ui-datepicker-other-month {
  background: #fff !important;
}
/* line 1261, ../scss/common.scss */
.ui-datepicker-calendar .ui-state-disabled {
  background: #f4f4f4;
  color: #929292;
}
/* line 1264, ../scss/common.scss */
.ui-datepicker-calendar .ui-state-disabled span {
  background: #f4f4f4;
  color: #929292;
}
