/**/
@-webkit-keyframes rotate {
  /* line 28, D:/Git/teleus/scss/_base.scss */
  0% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 31, D:/Git/teleus/scss/_base.scss */
  10% {
    -webkit-transform: rotate(0deg);
  }

  /* line 34, D:/Git/teleus/scss/_base.scss */
  20% {
    -webkit-transform: rotate(10deg);
  }

  /* line 37, D:/Git/teleus/scss/_base.scss */
  30% {
    -webkit-transform: rotate(0deg);
  }

  /* line 40, D:/Git/teleus/scss/_base.scss */
  40% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 43, D:/Git/teleus/scss/_base.scss */
  50% {
    -webkit-transform: rotate(0deg);
  }

  /* line 46, D:/Git/teleus/scss/_base.scss */
  60% {
    -webkit-transform: rotate(10deg);
  }

  /* line 49, D:/Git/teleus/scss/_base.scss */
  70% {
    -webkit-transform: rotate(0deg);
  }

  /* line 52, D:/Git/teleus/scss/_base.scss */
  80% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 55, D:/Git/teleus/scss/_base.scss */
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes rotate {
  /* line 60, D:/Git/teleus/scss/_base.scss */
  0% {
    -moz-transform: rotate(-10deg);
  }

  /* line 63, D:/Git/teleus/scss/_base.scss */
  10% {
    -moz-transform: rotate(0deg);
  }

  /* line 66, D:/Git/teleus/scss/_base.scss */
  20% {
    -moz-transform: rotate(10deg);
  }

  /* line 69, D:/Git/teleus/scss/_base.scss */
  30% {
    -moz-transform: rotate(0deg);
  }

  /* line 72, D:/Git/teleus/scss/_base.scss */
  40% {
    -moz-transform: rotate(-10deg);
  }

  /* line 75, D:/Git/teleus/scss/_base.scss */
  50% {
    -moz-transform: rotate(0deg);
  }

  /* line 78, D:/Git/teleus/scss/_base.scss */
  60% {
    -moz-transform: rotate(10deg);
  }

  /* line 81, D:/Git/teleus/scss/_base.scss */
  70% {
    -moz-transform: rotate(0deg);
  }

  /* line 84, D:/Git/teleus/scss/_base.scss */
  80% {
    -moz-transform: rotate(-10deg);
  }

  /* line 87, D:/Git/teleus/scss/_base.scss */
  100% {
    -moz-transform: rotate(0deg);
  }
}

@-o-keyframes rotate {
  /* line 92, D:/Git/teleus/scss/_base.scss */
  0% {
    -o-transform: rotate(-10deg);
  }

  /* line 95, D:/Git/teleus/scss/_base.scss */
  10% {
    -o-transform: rotate(0deg);
  }

  /* line 98, D:/Git/teleus/scss/_base.scss */
  20% {
    -o-transform: rotate(10deg);
  }

  /* line 101, D:/Git/teleus/scss/_base.scss */
  30% {
    -o-transform: rotate(0deg);
  }

  /* line 104, D:/Git/teleus/scss/_base.scss */
  40% {
    -o-transform: rotate(-10deg);
  }

  /* line 107, D:/Git/teleus/scss/_base.scss */
  50% {
    -o-transform: rotate(0deg);
  }

  /* line 110, D:/Git/teleus/scss/_base.scss */
  60% {
    -o-transform: rotate(10deg);
  }

  /* line 113, D:/Git/teleus/scss/_base.scss */
  70% {
    -o-transform: rotate(0deg);
  }

  /* line 116, D:/Git/teleus/scss/_base.scss */
  80% {
    -o-transform: rotate(-10deg);
  }

  /* line 119, D:/Git/teleus/scss/_base.scss */
  100% {
    -o-transform: rotate(0deg);
  }
}

/*products*/
/* line 3, ../scss/layouts.scss */
.cols {
  position: relative;
  padding: 0 0 90px 0;
  overflow: hidden;
  background: #fff;
  z-index: 20;
}
/* line 9, ../scss/layouts.scss */
.cols .col-1 {
  float: left;
  width: 280px;
  margin: 0 40px;
}
/* line 14, ../scss/layouts.scss */
.cols .col-2 {
  float: left;
  width: 840px;
}
/* line 18, ../scss/layouts.scss */
.cols .col-3 {
  float: left;
  width: 480px;
}
/* line 22, ../scss/layouts.scss */
.cols .col-4 {
  float: left;
  width: 700px;
  margin: 0 40px;
}
/* line 27, ../scss/layouts.scss */
.cols .col-5 {
  float: left;
  width: 380px;
}
