@-webkit-keyframes rotate {
  /* line 24, ../scss/_base.scss */
  0% {
    -webkit-transform: rotate(-30deg);
  }

  /* line 27, ../scss/_base.scss */
  25% {
    -webkit-transform: rotate(30deg);
  }

  /* line 30, ../scss/_base.scss */
  50% {
    -webkit-transform: rotate(-15deg);
  }

  /* line 33, ../scss/_base.scss */
  75% {
    -webkit-transform: rotate(15deg);
  }

  /* line 36, ../scss/_base.scss */
  100% {
    -webkit-transform: rotate(0deg);
  }
}

/*products*/
/* line 3, ../scss/layouts.scss */
.cols {
  position: relative;
  padding: 180px 0 90px 0;
  overflow: hidden;
  background: #fff;
  z-index: 20;
}
/* line 9, ../scss/layouts.scss */
.cols .col-1 {
  float: left;
  width: 280px;
  margin: 0 40px;
}
/* line 14, ../scss/layouts.scss */
.cols .col-2 {
  float: left;
  width: 840px;
}
/* line 18, ../scss/layouts.scss */
.cols .col-3 {
  float: left;
  width: 480px;
}
/* line 22, ../scss/layouts.scss */
.cols .col-4 {
  float: left;
  width: 700px;
  margin: 0 40px;
}
/* line 27, ../scss/layouts.scss */
.cols .col-5 {
  float: left;
  width: 380px;
}
