/**/
@-webkit-keyframes rotate {
  /* line 28, D:/Git/teleus/scss/_base.scss */
  0% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 31, D:/Git/teleus/scss/_base.scss */
  10% {
    -webkit-transform: rotate(0deg);
  }

  /* line 34, D:/Git/teleus/scss/_base.scss */
  20% {
    -webkit-transform: rotate(10deg);
  }

  /* line 37, D:/Git/teleus/scss/_base.scss */
  30% {
    -webkit-transform: rotate(0deg);
  }

  /* line 40, D:/Git/teleus/scss/_base.scss */
  40% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 43, D:/Git/teleus/scss/_base.scss */
  50% {
    -webkit-transform: rotate(0deg);
  }

  /* line 46, D:/Git/teleus/scss/_base.scss */
  60% {
    -webkit-transform: rotate(10deg);
  }

  /* line 49, D:/Git/teleus/scss/_base.scss */
  70% {
    -webkit-transform: rotate(0deg);
  }

  /* line 52, D:/Git/teleus/scss/_base.scss */
  80% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 55, D:/Git/teleus/scss/_base.scss */
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes rotate {
  /* line 60, D:/Git/teleus/scss/_base.scss */
  0% {
    -moz-transform: rotate(-10deg);
  }

  /* line 63, D:/Git/teleus/scss/_base.scss */
  10% {
    -moz-transform: rotate(0deg);
  }

  /* line 66, D:/Git/teleus/scss/_base.scss */
  20% {
    -moz-transform: rotate(10deg);
  }

  /* line 69, D:/Git/teleus/scss/_base.scss */
  30% {
    -moz-transform: rotate(0deg);
  }

  /* line 72, D:/Git/teleus/scss/_base.scss */
  40% {
    -moz-transform: rotate(-10deg);
  }

  /* line 75, D:/Git/teleus/scss/_base.scss */
  50% {
    -moz-transform: rotate(0deg);
  }

  /* line 78, D:/Git/teleus/scss/_base.scss */
  60% {
    -moz-transform: rotate(10deg);
  }

  /* line 81, D:/Git/teleus/scss/_base.scss */
  70% {
    -moz-transform: rotate(0deg);
  }

  /* line 84, D:/Git/teleus/scss/_base.scss */
  80% {
    -moz-transform: rotate(-10deg);
  }

  /* line 87, D:/Git/teleus/scss/_base.scss */
  100% {
    -moz-transform: rotate(0deg);
  }
}

@-o-keyframes rotate {
  /* line 92, D:/Git/teleus/scss/_base.scss */
  0% {
    -o-transform: rotate(-10deg);
  }

  /* line 95, D:/Git/teleus/scss/_base.scss */
  10% {
    -o-transform: rotate(0deg);
  }

  /* line 98, D:/Git/teleus/scss/_base.scss */
  20% {
    -o-transform: rotate(10deg);
  }

  /* line 101, D:/Git/teleus/scss/_base.scss */
  30% {
    -o-transform: rotate(0deg);
  }

  /* line 104, D:/Git/teleus/scss/_base.scss */
  40% {
    -o-transform: rotate(-10deg);
  }

  /* line 107, D:/Git/teleus/scss/_base.scss */
  50% {
    -o-transform: rotate(0deg);
  }

  /* line 110, D:/Git/teleus/scss/_base.scss */
  60% {
    -o-transform: rotate(10deg);
  }

  /* line 113, D:/Git/teleus/scss/_base.scss */
  70% {
    -o-transform: rotate(0deg);
  }

  /* line 116, D:/Git/teleus/scss/_base.scss */
  80% {
    -o-transform: rotate(-10deg);
  }

  /* line 119, D:/Git/teleus/scss/_base.scss */
  100% {
    -o-transform: rotate(0deg);
  }
}

/*main*/
/*slider*/
/* line 5, ../scss/main.scss */
.slider {
  position: relative;
  padding-top: 10px;
}

/* line 9, ../scss/main.scss */
.slider__wrap {
  position: relative;
  width: 800px;
  height: 270px;
  overflow: hidden;
}

/* line 15, ../scss/main.scss */
.slider__items {
  position: absolute;
  width: 20000px;
}

/* line 19, ../scss/main.scss */
.slider__item {
  float: left;
}

/* line 22, ../scss/main.scss */
.slider__product {
  float: left;
  width: 120px;
  padding-right: 40px;
}

/* line 27, ../scss/main.scss */
.slider__product-link {
  margin: 10px 0;
}
/* line 29, ../scss/main.scss */
.slider__product-link a {
  border-bottom: 1px solid #BBE4F1;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 35, ../scss/main.scss */
.slider__product-link a:hover {
  border-bottom: 1px solid #09c;
}

/* line 40, ../scss/main.scss */
.slider__nav, .pagination__nav {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 59px;
  height: 30px;
  -webkit-box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  -moz-box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 48, ../scss/main.scss */
.slider__nav button, .pagination__nav button {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  border: 1px solid #ae6c00;
  background-color: #ff9e03;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDIxNiwgODYsIDAuNikiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYmEoMjU1LCAxNTgsIDMsIDAuOCkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 216, 86, 0.6)), color-stop(100%, rgba(255, 158, 3, 0.8)));
  background-image: -webkit-linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  background-image: -moz-linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  background-image: -o-linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  background-image: linear-gradient(rgba(255, 216, 86, 0.6), rgba(255, 158, 3, 0.8));
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 5;
}
/* line 61, ../scss/main.scss */
.slider__nav button i, .pagination__nav button i {
  position: absolute;
  top: 11px;
  left: 12px;
}
/* line 66, ../scss/main.scss */
.slider__nav button:hover, .pagination__nav button:hover {
  background-color: #ffecab;
}
/* line 69, ../scss/main.scss */
.slider__nav button:active, .pagination__nav button:active {
  background: #ff9e03;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWUwMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZDg1NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9e03), color-stop(100%, #ffd856));
  background-image: -webkit-linear-gradient(#ff9e03, #ffd856);
  background-image: -moz-linear-gradient(#ff9e03, #ffd856);
  background-image: -o-linear-gradient(#ff9e03, #ffd856);
  background-image: linear-gradient(#ff9e03, #ffd856);
}
/* line 72, ../scss/main.scss */
.slider__nav button:active i, .pagination__nav button:active i {
  top: 12px;
}
/* line 77, ../scss/main.scss */
.slider__nav .disabled, .pagination__nav .disabled {
  border: 1px solid #a6a6a6;
  background: #f6f6f6;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #dbdbdb));
  background-image: -webkit-linear-gradient(#f6f6f6, #dbdbdb);
  background-image: -moz-linear-gradient(#f6f6f6, #dbdbdb);
  background-image: -o-linear-gradient(#f6f6f6, #dbdbdb);
  background-image: linear-gradient(#f6f6f6, #dbdbdb);
}
/* line 81, ../scss/main.scss */
.slider__nav .disabled .slider__prev-l, .slider__nav .disabled .pagination__prev-l, .pagination__nav .disabled .slider__prev-l, .pagination__nav .disabled .pagination__prev-l {
  background: url('../img/icons-sdc326c2acf.png') 0 -1005px no-repeat;
  width: 4px;
  height: 7px;
}
/* line 84, ../scss/main.scss */
.slider__nav .disabled .slider__next-r, .slider__nav .disabled .pagination__prev-r, .pagination__nav .disabled .slider__next-r, .pagination__nav .disabled .pagination__prev-r {
  background: url('../img/icons-sdc326c2acf.png') 0 -981px no-repeat;
  width: 4px;
  height: 7px;
}
/* line 87, ../scss/main.scss */
.slider__nav .disabled:hover, .slider__nav .disabled:active, .pagination__nav .disabled:hover, .pagination__nav .disabled:active {
  background: #f6f6f6;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #dbdbdb));
  background-image: -webkit-linear-gradient(#f6f6f6, #dbdbdb);
  background-image: -moz-linear-gradient(#f6f6f6, #dbdbdb);
  background-image: -o-linear-gradient(#f6f6f6, #dbdbdb);
  background-image: linear-gradient(#f6f6f6, #dbdbdb);
}
/* line 92, ../scss/main.scss */
.slider__nav .disabled:active i, .pagination__nav .disabled:active i {
  top: 11px;
}

/* line 98, ../scss/main.scss */
.slider__prev, .pagination__prev {
  right: 29px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* line 102, ../scss/main.scss */
.slider__next, .pagination__next {
  right: 0;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/* line 106, ../scss/main.scss */
.slider__prev-l, .pagination__prev-l {
  background: url('../img/icons-sdc326c2acf.png') 0 -993px no-repeat;
  width: 4px;
  height: 7px;
}

/* line 109, ../scss/main.scss */
.slider__next-r, .pagination__next-r {
  background: url('../img/icons-sdc326c2acf.png') 0 -1017px no-repeat;
  width: 4px;
  height: 7px;
}

/* line 112, ../scss/main.scss */
.slider__navi {
  position: absolute;
  top: 52px;
  right: 110px;
}
/* line 116, ../scss/main.scss */
.slider__navi a {
  float: left;
  width: 8px;
  height: 8px;
  margin-right: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #0099cc;
  cursor: pointer;
}
/* line 125, ../scss/main.scss */
.slider__navi .active {
  background: #333;
}

/*main-news*/
/* line 130, ../scss/main.scss */
.main-news {
  overflow: hidden;
  margin-right: -50px;
}
/* line 133, ../scss/main.scss */
.main-news .block {
  float: left;
  width: 240px;
  margin-right: 40px;
}

/*abonements*/
/* line 141, ../scss/main.scss */
.abonements ul {
  float: left;
  width: 380px;
  margin-right: 40px;
}
/* line 145, ../scss/main.scss */
.abonements ul li {
  overflow: hidden;
  margin: 0 0 20px 0;
}
/* line 148, ../scss/main.scss */
.abonements ul li img {
  float: left;
  margin-right: 15px;
  border: 1px solid #d3d3d3;
}

/* line 156, ../scss/main.scss */
.abonements__desc {
  float: left;
  width: 310px;
  overflow: hidden;
}
/* line 160, ../scss/main.scss */
.abonements__desc a {
  border-bottom: 1px solid #bbe4f1;
  font-weight: bold;
  line-height: 1.5;
  -moz-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
/* line 165, ../scss/main.scss */
.abonements__desc a:hover {
  border-bottom: 1px solid #09c;
}
/* line 169, ../scss/main.scss */
.abonements__desc span {
  display: block;
  margin-top: 5px;
  color: #acacac;
  font-size: 14px;
}
/* line 174, ../scss/main.scss */
.abonements__desc span a {
  font-size: 14px;
  font-weight: normal;
}
