/*main*/
/*slider*/
/* line 7, ../scss/main.scss */
.slider {
  position: relative;
  padding-top: 10px;
}

/* line 11, ../scss/main.scss */
.slider__wrap {
  position: relative;
  width: 800px;
  height: 270px;
  overflow: hidden;
}

/* line 17, ../scss/main.scss */
.slider__items {
  position: absolute;
  width: 20000px;
}

/* line 21, ../scss/main.scss */
.slider__item {
  float: left;
}

/* line 24, ../scss/main.scss */
.slider__product {
  float: left;
  width: 120px;
  padding-right: 40px;
}

/* line 29, ../scss/main.scss */
.slider__product-link {
  margin: 10px 0;
}
/* line 31, ../scss/main.scss */
.slider__product-link a {
  border-bottom: 1px solid #BBE4F1;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
}

/* line 38, ../scss/main.scss */
.slider__nav, .pagination__nav {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 59px;
  height: 30px;
  -webkit-box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  -moz-box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  box-shadow: #ffecab 0px 1px 1px inset, #d0d0d0 0px 1px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 46, ../scss/main.scss */
.slider__nav button, .pagination__nav button {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  border: 1px solid #ae6c00;
  background: #ffd856;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDg1NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOWUwMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd856), color-stop(100%, #ff9e03));
  background-image: -webkit-linear-gradient(#ffd856, #ff9e03);
  background-image: -moz-linear-gradient(#ffd856, #ff9e03);
  background-image: -o-linear-gradient(#ffd856, #ff9e03);
  background-image: linear-gradient(#ffd856, #ff9e03);
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  z-index: 5;
}
/* line 58, ../scss/main.scss */
.slider__nav button i, .pagination__nav button i {
  position: absolute;
  top: 11px;
  left: 12px;
}
/* line 64, ../scss/main.scss */
.slider__nav .disabled, .pagination__nav .disabled {
  border: 1px solid #a6a6a6;
  background: #f6f6f6;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #dbdbdb));
  background-image: -webkit-linear-gradient(#f6f6f6, #dbdbdb);
  background-image: -moz-linear-gradient(#f6f6f6, #dbdbdb);
  background-image: -o-linear-gradient(#f6f6f6, #dbdbdb);
  background-image: linear-gradient(#f6f6f6, #dbdbdb);
}
/* line 68, ../scss/main.scss */
.slider__nav .disabled .slider__prev-l, .pagination__nav .disabled .slider__prev-l {
  background: url('../img/icons-s9db2a61712.png') 0 -744px no-repeat;
  width: 4px;
  height: 7px;
}
/* line 71, ../scss/main.scss */
.slider__nav .disabled .slider__next-r, .pagination__nav .disabled .slider__next-r {
  background: url('../img/icons-s9db2a61712.png') 0 -730px no-repeat;
  width: 4px;
  height: 7px;
}

/* line 76, ../scss/main.scss */
.slider__prev, .pagination__prev {
  right: 29px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* line 80, ../scss/main.scss */
.slider__next, .pagination__next {
  right: 0;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/* line 84, ../scss/main.scss */
.slider__prev-l, .pagination__prev-l {
  background: url('../img/icons-s9db2a61712.png') 0 -737px no-repeat;
  width: 4px;
  height: 7px;
}

/* line 87, ../scss/main.scss */
.slider__next-r, .pagination__next-r {
  background: url('../img/icons-s9db2a61712.png') 0 -751px no-repeat;
  width: 4px;
  height: 7px;
}

/* line 90, ../scss/main.scss */
.slider__navi {
  position: absolute;
  top: 52px;
  right: 110px;
}
/* line 94, ../scss/main.scss */
.slider__navi a {
  float: left;
  width: 8px;
  height: 8px;
  margin-right: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #0099cc;
  cursor: pointer;
}
/* line 103, ../scss/main.scss */
.slider__navi .active {
  background: #333;
}

/*main-news*/
/* line 108, ../scss/main.scss */
.main-news {
  overflow: hidden;
  margin-right: -50px;
}
/* line 111, ../scss/main.scss */
.main-news .block {
  float: left;
  width: 240px;
  margin-right: 40px;
}

/*abonements*/
/* line 119, ../scss/main.scss */
.abonements ul {
  float: left;
  width: 380px;
  margin-right: 40px;
}
/* line 123, ../scss/main.scss */
.abonements ul li {
  overflow: hidden;
  margin: 0 0 20px 0;
}
/* line 126, ../scss/main.scss */
.abonements ul li img {
  float: left;
  margin-right: 15px;
  border: 1px solid #d3d3d3;
}

/* line 134, ../scss/main.scss */
.abonements__desc {
  float: left;
  width: 310px;
  overflow: hidden;
}
/* line 138, ../scss/main.scss */
.abonements__desc a {
  border-bottom: 1px solid #bbe4f1;
  font-weight: bold;
  line-height: 1.5;
}
/* line 143, ../scss/main.scss */
.abonements__desc span {
  display: block;
  margin-top: 5px;
  color: #acacac;
  font-size: 14px;
}
/* line 148, ../scss/main.scss */
.abonements__desc span a {
  font-size: 14px;
  font-weight: normal;
}
