$experimental-support-for-svg: true;
$icons-layout: smart;
$icons-spacing: 20px;
$icons: sprite-map("icons/*.png", $spacing: 5px);
/**/
@mixin image-size($path) {
	width: image-width($path);
	height: image-height($path);
}
@mixin sized-sprite($map, $sprite) {
	background: sprite($map, $sprite) no-repeat;
	@include image-size(sprite-file($map, $sprite));
}
@mixin transition($what: all, $length: 1s, $easing: ease-in-out) {
  -moz-transition:    $what $length $easing;
  -webkit-transition: $what $length $easing;
  -o-transition:      $what $length $easing;
  -ms-transition:     $what $length $easing;
  transition:         $what $length $easing;
}
@mixin animation($what: all, $length: 1s, $easing: ease-in-out, $fillmode: both) {
  -moz-animatiom:    $what $length $easing 0s 1 normal $fillmode;
  -webkit-animation: $what $length $easing 0s 1 normal $fillmode;
  -o-animation:      $what $length $easing 0s 1 normal $fillmode;
  animation:         $what $length $easing 0s 1 normal $fillmode;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-10deg);
  }
  10% {
  	-webkit-transform: rotate(0deg);
  }
  20% {
  	-webkit-transform: rotate(10deg);
  }
  30% {
  	-webkit-transform: rotate(0deg);
  }
  40% { 
    -webkit-transform: rotate(-10deg);
  }
  50% { 
    -webkit-transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(-10deg);
  }
  10% {
    -moz-transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(10deg);
  }
  30% {
    -moz-transform: rotate(0deg);
  }
  40% { 
    -moz-transform: rotate(-10deg);
  }
  50% { 
    -moz-transform: rotate(0deg);
  }
  60% {
    -moz-transform: rotate(10deg);
  }
  70% {
    -moz-transform: rotate(0deg);
  }
  80% {
    -moz-transform: rotate(-10deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes rotate {
  0% {
    -o-transform: rotate(-10deg);
  }
  10% {
    -o-transform: rotate(0deg);
  }
  20% {
    -o-transform: rotate(10deg);
  }
  30% {
    -o-transform: rotate(0deg);
  }
  40% { 
    -o-transform: rotate(-10deg);
  }
  50% { 
    -o-transform: rotate(0deg);
  }
  60% {
    -o-transform: rotate(10deg);
  }
  70% {
    -o-transform: rotate(0deg);
  }
  80% {
    -o-transform: rotate(-10deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
