$experimental-support-for-svg: true;
@mixin image-size($path) {
	width: image-width($path);
	height: image-height($path);
}
@mixin sized-sprite($map, $sprite) {
	background: sprite($map, $sprite) no-repeat;
	@include image-size(sprite-file($map, $sprite));
}




